django==5.0.4
python-dotenv==1.0.1
psycopg2-binary==2.9.9

# django-extensions==3.2.3
# pillow==10.3.0
# django-debug-toolbar==4.3.0
# django-crispy-forms==2.1
# crispy-bootstrap5==2024.2
# djangorestframework==3.15.1
# Markdown==3.6
# django-filter==24.2
# drf-redesign==0.3.9
# celery==5.4.0
# redis==5.0.6
# flower==2.0.1
# django-celery-results==2.5.1
# django-celery-beat==2.6.0
